<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dynasys.appdisoft">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.wifi" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_disoft"
        android:label="Disoft"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_disoft"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Mapas.MapaActivity"></activity>
        <activity android:name=".Login.WebServicesActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Login.LoginActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDRwwdFpU2VpMvsfw6igVL61iZj7eP5NJQ" />

        <activity
            android:name=".SplashActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Clientes.MapClientActivity" />

        <service android:name=".ShareUtil.ServicesLocation" />
        <service android:name=".ShareUtil.ServiceSincronizacion" />
    </application>

</manifest>